@use '../../styles/variables'
@use '../../styles/mixins'

.projects-container
    width: 100%

    h2
        font-size: 2.5rem
        color: variables.$text-color
        margin: 2rem 0
    
    .projects
        display: flex
        align-items: center
        flex-wrap: wrap
        width: 100%
        gap: 2rem
