@use 'variables'

*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

body
    background: variables.$body-bg-color
a
    text-decoration: none
    color: variables.$text-color
ul
    list-style: none
h1
    width: 100%
    font-size: 4.4rem
    margin: 1rem 0
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.line-subtitle
    height: 5px
    background: variables.$gradient
    border-radius: 5px


/* Estilizando a barra de rolagem nos navegadores Chrome e Edge */
body::-webkit-scrollbar
    width: 5px
body::-webkit-scrollbar-track
    background: #00000000
body::-webkit-scrollbar-thumb
    background: variables.$gradient
    border-radius: 20px
    // border: 3px solid orange

/* estilizando a barra de rolagem no navehador firfox */
body
    scrollbar-width: thin
    scrollbar-color: #003598 #00000000
