@use 'variables'
    
*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

body
    background: variables.$body-bg-color

a
    text-decoration: none

h1
    width: 100%
    font-size: 4.4rem
    margin: 1rem 0
    background: variables.$gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent