@use '../../styles/variables'
@use '../../styles/mixins'
    
#contact-container
    width: 100%
    height: 100vh
    max-height: 700px
    padding-top: 70px
    color: variables.$text-color
    display: flex
    justify-content: center
    position: relative
    @include mixins.tablet
        flex-wrap: wrap
        height: auto
    @include mixins.big-smartphone
        padding: 70px 2rem
    @include mixins.mobile
        padding: 70px 1rem

    .line
        height: 5px
        background: variables.$gradient
        position: absolute
        top: 3rem
        left: 0
        right: 0

    #contact-infos
        width: 50%
        padding-right: 2rem
        @include mixins.tablet
            width: 100%
        @include mixins.big-smartphone
            padding-right: 0

        .subtitle
            display: inline-block
            margin: 2rem 0
            h2
                font-size: 2.5rem
                @include mixins.mobile
                    font-size: 2rem

        p
            text-align: justify
            margin-bottom: 1rem

        .info
            display: flex
            @include mixins.center
            justify-content: start
            margin-bottom: .8rem
            @include mixins.tablet
                display: none

            svg
                margin-right: .8rem
                font-size: 1.4rem
                color: #003598
            p
                padding: 0
                margin: 0

    #form-email
        width: 50%
        @include mixins.center
        @include mixins.tablet
            width: 100%

        form
            display: flex
            flex-wrap: wrap
            max-width: 400px

            input, textarea
                padding: .7rem .3rem
                border-radius: variables.$card-border-radius
                border: none
                outline-color: #003598
            #name
                margin-right: 2%
            #name, #last-name
                width: 49%
                display: flex
            #email, #msg
                margin-top: 2%
                width: 100%

            #button
                font-size: 1rem
                @include mixins.btn
                margin: .8rem 0
                @include mixins.mobile
                    width: 100%
                    font-size: 1.1rem

            .btn-disabled
                opacity: .3

            .recaptcha
                width: 100%
                padding: .8rem 0

                .error-recaptcha
                    color: #d32f2f
                    display: flex
                    justify-content: start
                    font-size: .9rem