@use '../../styles/variables'
@use '../../styles/mixins'

header
    position: fixed
    height: 70px
    top: 0
    left: 0
    right: 0
    z-index: 99
    padding: 0 2rem
    background: variables.$body-bg-color
    @include mixins.mobile
        padding: 0 1rem

    #nav-desktop
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: space-between

        #name-container
            @include mixins.center
            gap: .8rem

            #icon-user
                @include mixins.center
                width: 50px
                height: 50px
                border-radius: 30px
                background: variables.$gradient
                font-size: 1.5rem
                color: variables.$text-color
                @include mixins.tablet
                    background-image: url("../../img/euicon.png")
                    background-size: cover

                @include mixins.big-smartphone
                    width: 40px
                    height: 40px
                    font-size: 1.2rem
                span
                    @include mixins.tablet
                        display: none

            h2
                color: variables.$text-color
                @include mixins.big-smartphone
                    font-size: 1.2rem

        #menu-desktop
            @include mixins.tablet
                display: none
            ul
                @include mixins.center
                list-style: none
                gap: .5rem

                li a
                    color: variables.$text-color
                    text-transform: uppercase
                    padding: .3rem .5rem
                    transition: all .4s
                    &:hover
                        background: #003598
                        border-radius: variables.$card-border-radius

        #mobile-menu-btn
            display: none
            color: variables.$text-color
            background: transparent
            font-size: 2.2rem
            border: none
            width: 40px
            height: 40px
            @include mixins.tablet
                display: block

    #menu-mobile
        display: flex
        flex-direction: column
        justify-content: space-around
        background: #000000c7
        position: absolute
        top: 70px
        right: 0
        height: 100vh
        transition: all .5s
        overflow: hidden
        white-space: nowrap
        backdrop-filter: blur(5px)

        ul
            display: flex
            flex-direction: column
            align-items: center
            gap: 1.5rem
            li
                a
                    font-size: 1.6rem
                    font-weight: 300
                    text-transform: uppercase

        #social-networks
            @include mixins.center

.menu-close
    width: 0%

.menu-open
    width: 70%
    @include mixins.mobile
        width: 100%
