@use '../../styles/variables'
@use '../../styles/mixins'

.alert-container
    position: fixed
    z-index: 9
    display: flex
    justify-content: center
    align-items: center
    top: 100px
    left: 3rem
    right: 3rem
    transition: all .5s
    overflow: hidden
    @include mixins.small-tablet
        left: 2rem
        right: 2rem
    @include mixins.mobile
        left: 1rem
        right: 1rem

    .alert
        color: variables.$text-color
        background: linear-gradient(90deg, #313131 46%, rgba(38,38,38,1) 100%)
        padding: .8rem 1.2rem
        width: 80%
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        border-radius: variables.$card-border-radius
        box-shadow: rgba(192, 192, 192, 0.2) 0px 2px 8px 0px
        @include mixins.big-smartphone
            width: 100%
        @include mixins.mobile
            padding: .4rem .8rem .8rem .8rem

        .alert-content
            .content-title
                display: flex
                align-items: center
                span
                    display: flex
                    align-items: center
                    margin-right: .5rem
                    svg
                        font-size: 1.8rem
                        @include mixins.mobile
                            font-size: 1.4rem
                h2
                    @include mixins.mobile
                        font-size: 1.1rem

            p
                padding-top: .3rem
                @include mixins.mobile
                    font-size: .8rem

        button
            display: flex
            align-items: center
            font-size: 2rem
            background: transparent
            color: variables.$text-color
            border: none
            cursor: pointer

        .alert-progress-bar
            height: 7px
            position: absolute
            bottom: 0
            left: 0
            right: 0

            .progress-bar
                height: 100%
                width: 100%
                border-radius: variables.$card-border-radius
                background: variables.$text-color
