@use '../../styles/variables'
@use '../../styles/mixins'

#technologies-container
    padding-top: 70px
    height: 100vh
    max-height: 700px
    @include mixins.tablet
        height: auto
    @include mixins.big-smartphone
        padding: 70px 2rem 0
    @include mixins.mobile
        padding: 70px 1rem 0

    .subtitle
        display: inline-block
        margin: 2rem 0
        @include mixins.tablet
            margin: 1rem 0
        h2
            font-size: 2.5rem
            color: variables.$text-color
            @include mixins.tablet
                font-size: 2rem

    .content
        display: flex
        height: 100%
        @include mixins.tablet
            flex-direction: column

        .skills
            display: flex
            width: 50%
            height: 100%
            color: variables.$text-color
            padding-right: 2rem
            @include mixins.tablet
                width: 100%
                margin-bottom: 2rem
                padding-right: 0

            p
                line-height: 1.5rem
                text-align: justify

        .technologies
            gap: .8rem
            display: flex
            flex-direction: column
            flex-wrap: wrap
            width: 50%
            @include mixins.tablet
                width: 100%
                margin-bottom: 1rem

            .technology-card
                display: flex
                justify-content: start
                gap: 1rem
                transition: .4s

                .technology-info
                    width: 100%
                    @include mixins.tablet
                        font-size: .9rem

                h3
                    color: variables.$text-color
                    margin-bottom: .6rem

                svg
                    font-size: 3.3rem
                    color: #003598
                    transition: .4s
                    @include mixins.tablet
                        font-size: 3rem
