@use '../../styles/variables'
@use '../../styles/mixins'

#technologies-container
    padding-top: 70px
    @include mixins.tablet
        height: auto
    @include mixins.big-smartphone
        padding: 70px 2rem 0
    @include mixins.mobile
        padding: 70px 1rem 0

    .subtitle
        display: inline-block
        margin: 2rem 0
        @include mixins.tablet
            margin: 1rem 0
        h2
            font-size: 2.5rem
            color: variables.$text-color
            @include mixins.tablet
                font-size: 2rem

    .content
        display: flex
        height: 100%
        @include mixins.tablet
            flex-direction: column

        .skills
            display: flex
            width: 50%
            height: 100%
            color: variables.$text-color
            padding-right: 1rem
            @include mixins.tablet
                width: 100%
                margin-bottom: 2rem
                padding-right: 0

            p
                line-height: 1.5rem
                text-align: justify

        .technologies-div
            gap: .8rem
            width: 50%
            padding-left: 1rem
            color: variables.$text-color 
            @include mixins.tablet
                width: 100%
                margin-bottom: 1rem
