@use '../../styles/mixins'
@use '../../styles/variables'

#about-container
    display: flex
    color: variables.$text-color
    padding-top: 6rem 


    #image
        width: 50%
        @include mixins.center

        @include mixins.tablet
            display: none
        img
            max-width: 320px
            border: 15px solid #444
            border-radius: 50%
            box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5)
            transition: all .3s
            &:hover
                transform: scale(1.05)

    #about
        display: flex
        flex-direction: column
        justify-content: center
        width: 50%
        padding: 0 2rem
        @include mixins.mobile
            padding: 0 1rem

        @include mixins.tablet
            width: 100%

        h1
            font-size: 2.5rem
            font-weight: bold
            @include mixins.mobile
                font-size: 2rem

        p
            line-height: 1.5rem
            letter-spacing: .1rem
            text-align: justify

        #btn-container
            margin-top: 2rem
            display: flex
            justify-content: start
            align-items: center            

            a
                @include mixins.btn
